.hidden {
  display: none;
}

.visible {
  display: block;
}

.about-section {
  margin: 0 auto;
  width: 90%;
  padding-top: 1rem;
}

.services-section {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  position: relative;
}

html {
  scroll-behavior: smooth;
}
