.main-dealer-container {
  width: 90vw;
  margin: 1rem auto;
  color: white;
  display: none;
  flex-direction: column;
  opacity: 0;
  
}

.packs-header {
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  color: black;
  font-size: 1.8rem;
  text-align: center;
}

.ppf-packs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;

}

.tint-packs {
  justify-content: flex-start;
  gap: 1.8rem;
}

#dealer-ctn {
  position: relative;
  top: 2rem;
  margin-top: 5rem;
}

.btn-book {
  width: 100%;
  justify-content: center;
  /* display: none;
  opacity: 0; */
  margin: 1rem auto;
}

#dealer-name {
  width: 30%;
  font-size: 1.2rem;
  display: none;
  margin: 0;
}

.dealer-login {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  width: 90%;
}

.btn-submitpw {
  width: 20%;
  color: black;
  background-color: white;
  border: 0.1rem solid grey;
  margin: 0;
  margin-left: 0.3rem;
}

.btn-submitpw:hover {
  transition: 0.3s;
  background-color: black;
  border: 0.1rem solid rgb(113, 255, 25) ;
  background-color: rgb(113, 255, 25);
}

#logout_btn {
  display: none;
}

.input-pw {
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
  50% {
    opacity: 30;
  }
  100% {
    opacity: 100;
  }
}

.visible {
  animation: 2s fadeIn;
  animation-fill-mode: forwards;
  display: flex;
}

@media screen and (max-width: 500px) {
  #dealer-ctn {
    margin: 0 auto;
    width: 90vw;
    top: 2rem;
  margin-top: 5rem;
  }

  .dealer-login {
    margin: 0 auto;
    width: 95%;
    justify-content: space-around;

  }

  #dealer-name {
    font-size: 1rem;
    width: 50%;
  }

  .input-pw {
    width: 40%;
  }

  .btn-submitpw {
    width: 30%;
    font-size: 1rem;
  }

  .main-dealer-container {
    width: 100%;
    gap: 1rem;
    flex-direction: column;
  }

  .ppf-packs {
    width: 100%;
    gap: 1rem;
    flex-direction: column;
  }

  .packs-header {
    font-size: 1.7rem;
  }

  .btn-book {
    width: 70%;
  }
}
