.pack-name {
  background-color: rgb(113, 255, 25);
  color: black;
  font-size: 1.5rem;
  padding-left: 1rem;
}

.pack-container {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 13rem;
  border: 0.1rem solid lightgray;
  padding-left: 1rem;
  padding-right: 1rem;


  
}


.droper{
  width: auto;
  height: auto;
}

.droper-head {
  color: black;
}

.dropgovno{
  color: black;
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;



}



.radiogroup {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controler {
  color: black;
  width: 30%;

}

.quarters-check {
  margin: 0;
  color: black;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.inpt-cont {
  padding: 0;
  margin: 0;
height: 1.5rem;
width: 100%;
text-align: start;

}

#checkid {
  width: 100%;
font-size: 0.8rem;
}

#nah {
  width: 100%;
font-size: 0.8rem;
}

.price-cont {
  margin: auto;
}

.pack-info {
  height: 22rem;
  margin-bottom: 1rem;
 
 
}

.pack-list  {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  text-align: left;
  margin: 0;
  padding: 0;
  width: 100%;
  

}
.pack-img {
  width: 100%;
}
.pack-img-remote {
}

.pack-el {
  color: black;
  font-size: 1rem;
  font-weight: 400;
}

.price-dealer {
  color: rgb(113, 255, 25);
  font-size: 1.25rem;
  margin: 0;
}

.price-retail {
  color: rgb(107, 107, 107);
  font-size: 1rem;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .pack-name {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .pack-info {
    height: auto;
  }

  .pack-container {
    width: 90%;
  }
 
  #vehicles-select {
    width: 100%;
  }

  #checkid {
    width: 100%;
  font-size: 1rem;
  }
  
  #nah {
    width: 100%;
  font-size: 1rem;
  }

  

}
