.pack-name {
  background-color: rgb(113, 255, 25);
  color: black;
  font-size: 1.5rem;
  padding-left: 1rem;
}

.pack-container {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 14rem;

  
}

.price-cont {
  margin: auto;
}

.pack-info {
  height: 26rem;
}
.pack-img {
  width: 100%;
}

.pack-el {
  color: black;
  font-size: 1.1rem;
}

.price-dealer {
  color: rgb(113, 255, 25);
  font-size: 1.25rem;
  margin: 0;
}

.price-retail {
  color: rgb(107, 107, 107);
  font-size: 1rem;
  margin: 0;
}

@media screen and (max-width: 720px) {
  .pack-name {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .pack-info {
    height: auto;
  }

  .pack-container {
    width: 100%;
  }
 
}
